html {
    font: size 10px;
    color: beige;
    background-color: black;
    font-family:system-ui,Arial, Helvetica, sans-serif;
  }
  #tribute-info:}
  body {
    font-family:Arial, Helvetica, sans-serif;
    margin:;
  }
  
  h1 {
    font: size 20em;;
    margin-bottom: ;
  }
  
  
  a {
    text-decoration: none;
    color: #6c91af;
  }
  
  a:visited {
    color: #74638f;
  
  }
  a:hover {
    color:#FF9933;
  }
  #main {
    margin: 30px 8px 5px 8px  ;
    padding: 10px;
    border-radius: 5px;
    background: #3f3f3f;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 2%;
  }
  
  
  
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  #info {
    font-weight: 100;
  }
  footer{
    text-align: center;
    padding: 0.001px;;
  }
